<section class="container">
    <form class="formulario" (ngSubmit)="transferir()">
        <h2 class="formulario__titulo">Nova Tranferência</h2>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Valor</mat-label>
            <input type="number" matInput placeholder="R$00,00" [(ngModel)]="valor" name="valor">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Destino</mat-label>
            <input type="text" matInput placeholder="Belém PA" [(ngModel)]="destino" name="destino">
        </mat-form-field>

        <div align="center">
            <button mat-raised-button class="botao">Tranferir</button>
        </div>
    </form>
</section>
