:root {
    --texto: #ffffff;
    --botao: #7208ec;
    --padding: 3em;
    --linha: #ac82feff;
    --cinza-claro: #a77afeff;
    --back: #a172fdff;
    --shadonw: #a172fdff;
    --shadonw-white: #a77afeff;
    --limpar: #ebddfeff;
}

* {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 30em;
    padding: 20em;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
